.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sectionCategories {
  width: 90%;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: 30%;
  margin: 10px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(237, 255, 233);
  box-shadow: -1px 1px 7px grey;
}

.add-task {
  width: 10%;
  font-size: 16px;
  background: #009579;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin-left: 100px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
}

.add-task-container {
  width: 30%;
}

.delete-button {
  width: 100px;
  background-color: #da3131;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  margin-left: 4px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.complete-button {
  width: 100px;
  background-color: #138830;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.start-button {
  width: 100px;
  background-color: #3670af;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.toggleForm {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(249, 252, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input {
  padding: 15px;
  border: none;
  width: 85%;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.task-add-button {
  padding: 12px;
  background-color: #2b3865;
  width: 150px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
}
.taskContainer {
  background-color: white;
  margin: 7px 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px -1px 3px grey;
  cursor: grab;
}

.taskContainer:active {
  opacity: 0.5;
  border: 2px solid black;
}

.complete-taskContainer {
  margin: 7px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px -1px 3px grey;
  cursor: grab;
  background-color: #08892c;
  padding: 10px;
  color: #fff;
}

.in-progress-taskContainer {
  margin: 7px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px -1px 3px grey;
  cursor: grab;
  background-color: #c5bb2d;
  padding: 10px;
  color: #fff;
}

.taskItem {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aboutTask {
  padding: 0px 5px;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: pre-wrap; /* Preserve white space and wrap lines */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  max-width: 95%;
}
.droparea {
  width: 90%;
  background-color: white;
  border: dashed black;
  padding: 10px;
  opacity: 1;
}
.hidearea {
  opacity: 0;
}
@media only screen and (max-width: 900px) {
  .sectionCategories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section {
    width: 60%;
  }
}
@media only screen and (max-width: 567px) {
  .section {
    width: 95%;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form {
  width: 25%;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 30px;
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  transition: 0.4s;
}

.form input.button:hover {
  background: #006653;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: #009579;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}

/* Navigation Bar Styles */
nav {
  width: 100%;
  height: 70px;
  background: #2980b9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  margin: auto;
}

nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}

nav .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
